# To make this work on linux, install "pre-commit" (sudo apt install pre-commit)
# and then do "pre-commit install"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: no-commit-to-branch